name: C/C++ CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y build-essential cmake git
          # Install raylib from source
          git clone https://github.com/raysan5/raylib.git
          cd raylib
          mkdir build && cd build
          cmake -DBUILD_SHARED_LIBS=ON ..
          make
          sudo make install
          # go back to project root
          cd ../..

      - name: Build program
        run: cc -o builder builder.c -lraylib -lm -lpthread -ldl -lrt -lGL -lX11

      - name: Run builder
        run: ./builder
